.App {
  text-align: center;
}

.drivers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin-left: 1rem;
  padding: 1rem;
}

.filters{
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
}
